# TiDB Cloud MySQL Connection String
# Format: mysql://<USERNAME>:<PASSWORD>@<HOST>:<PORT>/<DATABASE>?ssl=true
DATABASE_URL=mysql://2jfg5VSYFYCSWGr.root:<PASSWORD>@gateway01.ap-southeast-1.prod.aws.tidbcloud.com:4000/Ionetracker?ssl=true
